In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [61]:
gdp_df = pd.read_csv("C:/Users/bng19/Documents/nss_projects/un_exploration-elavender1/data/gdp_per_capita.csv")

In [62]:
print(gdp_df)

     Country or Area                                      Year        Value  \
0        Afghanistan                                      2019  2065.036398
1        Afghanistan                                      2018  2033.779002
2        Afghanistan                                      2017  2058.383832
3        Afghanistan                                      2016  2057.062164
4        Afghanistan                                      2015  2068.265904
...              ...                                       ...          ...
6865        Zimbabwe                                      1992  3054.889178
6866        Zimbabwe                                      1991  3426.598094
6867        Zimbabwe                                      1990  3324.348171
6868   footnoteSeqID                                  Footnote          NaN
6869               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
6865              NaN
6866              NaN
6867              NaN
6868              NaN
6869              NaN

[6870 rows x 4 columns]